
@if (Reservation != null && RoomIdGuests != null)
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Gość</th>
                <th scope="col">Dziecko</th>
                <th scope="col">Nowożeniec</th>
                <th scope="col">Śniadanie</th>
                <th scope="col">Cena</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var reservationRoom in Reservation.ReservationRooms)
            {
                var roomGuests = RoomIdGuests[reservationRoom.Room.Id];

                if (!roomGuests.Any())
                {
                    <tr>
                        <td>
                            <p>@reservationRoom.Room.Name</p>
                            <p>(@reservationRoom.Room.Area.Name)</p>
                            <p>@($"{roomGuests.Count}/{reservationRoom.Room.PeopleCapacity}")</p>
                            <br />
                            <RadzenButton ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small" Text="Dodaj osobę" Click="(() => AddGuest(roomGuests))" />
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                else
                {
                    var firstGuest = roomGuests.FirstOrDefault();
                    <tr>
                        <td rowspan="@roomGuests.Count()">
                            <p>@reservationRoom.Room.Name</p>
                            <p>(@reservationRoom.Room.Area.Name)</p>
                            <p>@($"{roomGuests.Count}/{reservationRoom.Room.PeopleCapacity}")</p>
                            <br />
                            <RadzenButton ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small" Text="Dodaj osobę"
                                          Click="(() => AddGuest(roomGuests))" Visible="(roomGuests.Count < reservationRoom.Room.PeopleCapacity)" />
                        </td>
                        <td>@firstGuest.Name</td>
                        <td>@firstGuest.IsChild.GetName()</td>
                        <td>@firstGuest.IsNewlyweds.GetName()</td>
                        <td>@firstGuest.OrderedBreakfest.GetName()</td>
                        <td>50 zł</td>
                        <td>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" Text="Usuń"
                                          Click="(() => RemoveGuest(reservationRoom.Room.Id, firstGuest))" />
                        </td>
                    </tr>

                    @foreach (var guest in roomGuests.Skip(1).ToList())
                    {
                        <tr>
                            <td>@guest.Name</td>
                            <td>@guest.IsChild.GetName()</td>
                            <td>@guest.IsNewlyweds.GetName()</td>
                            <td>@guest.OrderedBreakfest.GetName()</td>
                            <td>50 zł</td>
                            <td>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" Text="Usuń"
                                              Click="(() => RemoveGuest(reservationRoom.Room.Id, guest))" />
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
