<RadzenCard Style="width: 410px;">
    <div class="row">
        <div class="col-6">
            <p>Okres rezerwacji:</p>
        </div>

        <div class="col-6">
            <p>@($"{Reservation.CheckIn:dd.MM.yyyy} - {Reservation.CheckOut:dd.MM.yyyy}")</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Wybranych pokoi:</p>
        </div>

        <div class="col-6">
            <p>@Reservation.ReservationRooms.Count()</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Rozmieszczonych gości:</p>
        </div>

        <div class="col-6">
            <p>
                @if (Reservation.GetGuestsAmount() < ReservationFactors.BookingAmount)
                {
                    <span style="color: red;">@Reservation.GetGuestsAmount()</span><span> / @ReservationFactors.BookingAmount</span>
                }
                else
                {
                    <span> @Reservation.GetGuestsAmount() / @ReservationFactors.BookingAmount </span>
                }
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Cena za dzień:</p>
        </div>

        <div class="col-6">
            <p>@Reservation.GetReservationPriceForDay(PriceCalculator) zł</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Ilość dni:</p>
        </div>

        <div class="col-6">
            <p>@Reservation.GetDaysAmount()</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Cena rezerwacji:</p>
        </div>

        <div class="col-6">
            <p>@Reservation.GetReservationPrice(PriceCalculator) zł</p>
        </div>
    </div>

</RadzenCard>