<RadzenCard Style="width: 410px;">
    <div class="row">
        <div class="col-6">
            <p>Okres rezerwacji:</p>
        </div>

        <div class="col-6">
            <p>@($"{Reservation.CheckIn:dd.MM.yyyy} - {Reservation.CheckOut:dd.MM.yyyy}")</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Wybranych pokoi:</p>
        </div>

        <div class="col-6">
            <p>@Reservation.ReservationRooms.Count()</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Rozmieszczonych gości:</p>
        </div>

        <div class="col-6">
            <p>
            @if (Reservation.GetGuestsAmount() < PeopleAmount)
            {
                <span style="color: red;">@Reservation.GetGuestsAmount()</span><span> / @PeopleAmount</span>
            }
            else
            {
                <span> @Reservation.GetGuestsAmount() / @PeopleAmount </span>
            }
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Suma:</p>
        </div>

        <div class="col-6">
            <p>@Reservation.GetCalculatedPrice(PriceCalculator) zł</p>
        </div>
    </div>

</RadzenCard>