@inherits Base

@if (_isLoaded && Reservation != null)
{
    <p><b>Ilość miejsc:</b> @Reservation.GetTotalRoomsCapacity()</p>
    <table class="table" style="width: 1100px;">
        <thead class="thead-dark">
            <tr style="text-align: center;">
                <th scope="col"></th>
                <th scope="col">Budynek</th>
                <th scope="col">Pokój</th>
                <th scope="col">Ilość osób</th>
                <th scope="col">Stan pokoju</th>
                <th scope="col">W rezerwacji</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in _rooms)
            {
                var style = "text-align: center;";
                if (Reservation.IsRoomInReservation(room))
                {
                    style += "background-color: cornsilk;";
                }

                <tr style=@style @onclick="@(async () => await RoomCheckedHandler(room))">
                    <th scope="row">@(_rooms.IndexOf(room)+1).</th>
                    <td>@room.Area.Name</td>
                    <td>@room.Name</td>
                    <td>@room.PeopleCapacity</td>
                    <td>@room.Note</td>
                    <td>
                        <RadzenCheckBox TValue="bool" Value="Reservation.IsRoomInReservation(room)" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
} 