@inherits Base

@if (_isInitalDataLoaded == false)
{

}
else if (!_reservationsInfos.Any())
{
    <h2>Brak rezerwacji w systemie ...</h2>
}
else
{
    <RadzenCard Style="width: 490px;">
        <div class="row" style="width: 320px;">
            <div class="col-3" style="text-align: right;">
                <p>Obrót: </p>
            </div>

            <div class="col-9">
                <RadzenRadioButtonList @bind-Value=@_turnoverType TValue="TurnoverTypes" Change="OnInputChange">
                    <Items>
                        <RadzenRadioButtonListItem Text="roczny" Value="TurnoverTypes.Yearly" />
                        <RadzenRadioButtonListItem Text="miesięczny" Value="TurnoverTypes.Monthly" />
                    </Items>
                </RadzenRadioButtonList>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-4">
                <RadzenDropDown TValue="int" Data="_years" @bind-Value="_selectedYear" Change="OnInputChange" />
            </div>

            <div class="col-4">
                <RadzenDropDown TValue="int" Data="_months" TextProperty="Value" Visible="@(_turnoverType == TurnoverTypes.Monthly)"
                                ValueProperty="Key" @bind-Value="_selectedMonth" Change="OnInputChange" />
            </div>

            <div class="col-4">
                <RadzenButton Text="Pokaż" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Info" Click="OnInputChange" />
            </div>
        </div>
    </RadzenCard>
    @if (_isTurnoverLoaded)
    {
        @*<RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 490px;" />*@
    }
}



@if (_turnover != null)
{
    <RadzenCard Style="width: 400px; margin-top: 50px;">
        @if (_turnover.AnyInfo)
        {
            @if (_turnoverType == TurnoverTypes.Monthly)
            {
                <h2>Obrót za miesiąc @(_selectedMonth)/@_selectedYear</h2>
            }
            else
            {
                <h2>Obrót za rok @_selectedYear</h2>
            }

            <hr />

            <h3><b>Przychód: </b>@_turnover.Income zł</h3>
            <h3><b>Ilość rezerwacji: </b>@_turnover.ReservationAmount</h3>
            <h3><b>Ilość osób: </b>@_turnover.PeopleAmount</h3>
            <h3><b>Ilość śniadań: </b>@_turnover.BreakfestAmount</h3>
        }
        else
        {
            <h2 style="text-align: center;">Brak danych.</h2>
        }
    </RadzenCard>
}


