@inherits Base

@if (_rooms == null || _areas == null)
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <RadzenButton style="margin-bottom: 10px" Text="Dodaj pokój" Click="@InsertRow" Size="ButtonSize.Small" />
    <RadzenGrid @ref="_grid" AllowFiltering="true" AllowPaging="true" PageSize="16" AllowSorting="true" 
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" EditMode="DataGridEditMode.Single"
                Data="@_rooms" TItem="RoomGetDto" >
        <Columns>
            <RadzenGridColumn Width="100px" TItem="RoomGetDto" Property="Id" Title="Id" />
            <RadzenGridColumn Width="200px" TItem="RoomGetDto" Property="Area.Name" Title="Obszar">
                <EditTemplate Context="_room">
                    <RadzenDropDown @bind-Value="_room.Area" Data="@_areas" TextProperty="Name" Style="width:100%" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn Width="300px" TItem="RoomGetDto" Property="Name" Title="Nazwa">
                <EditTemplate Context="_room">
                    <RadzenTextBox @bind-Value="_room.Name" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn Width="130px" TItem="RoomGetDto" Property="PeopleCapacity" Title="Ilość osób">
                <EditTemplate Context="_room">
                    <RadzenNumeric @bind-Value="_room.PeopleCapacity" Min="1" />
                </EditTemplate>
            </RadzenGridColumn>           
            <RadzenGridColumn TItem="RoomGetDto" Context="_room" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="_room">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(_room))" Text="Edytuj">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="_room">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRow(_room))" Text="Zapisz">
                    </RadzenButton>
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Text="Anuluj" Click="@((args) => CancelEdit(_room))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RoomGetDto" Context="_room" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                <Template Context="_room">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Text="Usuń" 
                                  Click="@(args => DeleteRow(_room))" Visible="@(_room.Id > 0)">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="_room">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Text="Usuń"
                                  Click="@(args => DeleteRow(_room))" Visible="@(_room.Id > 0)">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}