@inherits Base

@if (_priceRulesDtos == null)
{
    <div class="spinner-bPriceRule" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <RadzenGrid @ref="_grid" EditMode="DataGridEditMode.Single"
                Data="@_priceRulesDtos" TItem="PriceRuleGetDto">
        <Columns>
            <RadzenGridColumn Width="50px" TItem="PriceRuleGetDto" Property="Id" Title="Id" />

            <RadzenGridColumn Width="200px" TItem="PriceRuleGetDto" Property="FriendlyName" Title="Nazwa reguły">
                <EditTemplate Context="priceRule">
                    <RadzenTextBox @bind-Value="priceRule.FriendlyName" Style="width:100%; display: block" Name="FriendlyName" />
                    <RadzenRequiredValidator Text="Nazwa jest wymagana" Component="FriendlyName" Popup="true" />
                </EditTemplate>
            </RadzenGridColumn>

            <RadzenGridColumn Width="200px" TItem="PriceRuleGetDto" Property="RuleType" Title="Typ reguły">
                <Template Context="priceRule">
                    <p>@priceRule.RuleType.GetDescription()</p>
                </Template>
                <EditTemplate Context="priceRule">
                    <RadzenDropDown @bind-Value="priceRule.RuleType" Data="@_ruleTypesNames" 
                                    TextProperty="Value" ValueProperty="Key" Style="width:100%" />
                </EditTemplate>
            </RadzenGridColumn>

            <RadzenGridColumn Width="50px" TItem="PriceRuleGetDto" Property="Value" Title="Wartość">
                <Template Context="priceRule">
                    <p>@priceRule.Value @(priceRule.RuleType.ToString().Contains("Value") ? " zł" : " %")</p>
                </Template>
                <EditTemplate Context="priceRule">
                    <RadzenNumeric @bind-Value="priceRule.Value" Style="width:100%" Min="1" />
                </EditTemplate>
            </RadzenGridColumn>

            <RadzenGridColumn Width="100px" TItem="PriceRuleGetDto" Property="Priority" Title="Priorytet" />

            <RadzenGridColumn Width="100px" TItem="PriceRuleGetDto" Property="ApplyNextRules.GetName()" Title="Wykonuj kolejne reguły">
                <EditTemplate Context="priceRule">
                    <RadzenCheckBox @bind-Value="priceRule.ApplyNextRules" />
                </EditTemplate>
            </RadzenGridColumn>

            <RadzenGridColumn TItem="PriceRuleGetDto" Context="sampleBlazorModelsSamplePriceRule" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="priceRule">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(priceRule))">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="priceRule">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@(async (args) => await SaveRow(priceRule))">
                    </RadzenButton>
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(priceRule))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}
