@inherits Base

@if (_reservations == null)
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else if (!_reservations.Any())
{
    <h3>Brak rezerwacji ...</h3>
}
else
{
    <RadzenTabs Style="width: fit-content;">
        <Tabs>
            <RadzenTabsItem Text="Reserwacje">
                <table class="table table-sm" style="width: 1100px;">
                    <thead class="thead-dark">
                        <tr style="text-align: center;">
                            <th scope="col">Id</th>
                            <th scope="col">Klient</th>
                            <th scope="col">Zameldowanie</th>
                            <th scope="col">Wymeldowanie</th>
                            <th scope="col">Ilość dni</th>
                            <th scope="col">Ilość pokoi</th>
                            <th scope="col">Ilość osób</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reservation in _reservations)
                        {
                            <tr style="text-align: center;">
                                <th scope="row">@reservation.ReservationId</th>
                                <td>@reservation.Customer</td>
                                <td>@(reservation.CheckIn.ToString("dd.MM.yyyy"))</td>
                                <td>@(reservation.CheckOut.ToString("dd.MM.yyyy"))</td>
                                <td>@((int)Math.Max(1, (reservation.CheckOut - reservation.CheckIn).TotalDays))</td>
                                <td>@reservation.RoomsAmount</td>
                                <td>@reservation.BookingAmount</td>
                                <td>
                                    <RadzenButton Icon="info" Text="Szczegóły" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Small"
                                                  Click="(async () => await LoadReservation(reservation.ReservationId))" />
                                </td>
                                <td>
                                    <RadzenButton Icon="delete_forever" Text="Usuń" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small"
                                                  Click="(async () => await DeleteReservation(reservation.ReservationId))" />
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </RadzenTabsItem>

            <RadzenTabsItem Text="@($"Szczegóły rezerwacji {_selectedReservation?.Id}")"
                            Visible="(_selectedReservation != null)"
                            Selected="(_selectedReservation != null)">

                <ReservationSummaryComponent Reservation="_selectedReservation"
                                             PriceCalculator="_priceCalculator"
                                             ReservationFactors="_reservationFactors" />

                <hr />

                <ControlComponent OnSave="(async () => await SaveChanges())"
                                  OnCancel="(async () => await CancelChanges())"
                                  LeftContent="GetLeftContent()" />

                <hr />

                <ReservationComponent Reservation="_selectedReservation"
                                      PriceCalculator="_priceCalculator"
                                      Rooms="_findedRooms"
                                      ActiveRoomSelection="_roomSelectionActive"
                                      ReservationFactors="_reservationFactors"
                                      OnEvent="OnEvent" />

            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}

@code {
    private async Task ShowRooms()
    {
        _roomSelectionActive = false;

        await ShowWindow(new WindowConfiguration
        {
            Content =@<FindRoomsComponent OnFindedRooms="OnFindedRooms" />,
            Title = "Dodaj pokoje"
        });
    }

    private RenderFragment GetLeftContent()
    {
        @if (_selectedReservation != null)
        {
            return@<RadzenButton Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary"
                                 Text="Dodaj pokoje" Click="(async () => await ShowRooms())" />;
        }
        else
        {
            return @<div></div>;
        }
    }
}

